server:
  port: 8084

spring:
  application:
    name: Billing-service

  datasource:
    url: jdbc:mysql://localhost:3306/billing_db
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true